<h3>Listado de Generos</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th> Id </th>
            <th> Genero </th>         
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genero of generos">
            <td> {{ genero.id }} </td>           
            <td> {{ genero.nombre }}</td>
            <td>
                <button type="button" class="btn btn-link" [routerLink]="['/genero/editar', genero.id]" >Editar</button>
                <button type="button" class="btn btn-link" (click)="borrar( genero.id! )">Borrar</button>                
            </td>            
        </tr>
    </tbody>
</table>

<button type="button"
        class="btn btn-primary"
        routerLink="../agregar">
        Agregar Genero
</button>