<h3>Listado de Actores</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th> Id </th>
            <th> Actor </th>         
            <th> Fecha Nacimiento</th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let actor of actores">
            <td> {{ actor.id }} </td>           
            <td> {{ actor.nombre | titlecase }} </td>
            <td> {{ actor.fechaNacimiento | date: 'dd-MM-yyyy' }} </td>
            <td>
                <button type="button" class="btn btn-link" [routerLink]="['/actor/editar', actor.id]" >Editar</button>
                <button type="button" class="btn btn-link" (click)="borrar( actor.id! )">Borrar</button>  
            </td>
        </tr>
    </tbody>
</table>

<button type="button"
        class="btn btn-primary"
        routerLink="../agregar">
        Agregar Actor
</button>